@model IEnumerable<RH_DELIRIO.Models.Familiares>

@{
    ViewData["Title"] = "Relação Familiares";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar familiar</a>
</p>
<table class="table table-hover"">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_pai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_mae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome_filho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nasc_filho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_pai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_mae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome_filho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nasc_filho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.funcionario.Nome)
            </td>
            <td class="text-right">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
